#home{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#home h2{
    margin: 0.7em 0;
}
#home p{
    /* width: 70ch; */
    width: 40vw;
    word-spacing: 0.1em;
}
#home img{
    height:350px;
}
#home div:last-child{
    position: relative;
}


#home div:last-child::before{
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 60%,rgba(255, 255, 255, 0.65) 100%);
}

#about{
    background-color: #eee;
    color:black;
    padding:2em;
    /* text-align: justify; */
}
#about>h2{
    color:#000;
    /* font-weight: 700; */
    font-size:2em;
}
#about>h2>span{
    font-weight: initial;
}

#about span{
    /* font-size:2em; */
    font-size: 20px;
    /* color: ghostwhite; */
    
}


#about>h2 , #about>.past_intern{
    margin-top: 1rem;
}
#about .subheading{
    font-weight:500;
}
.past_intern{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.past_intern .p1 >img{
    width: 70px;
    margin-left:0;
    margin-right: 10px;
}

.past_intern .p1{
    padding: 20px;
}

.skills{
    display: flex;
    justify-content: space-evenly;
}

.skills > img{
    height: 40px;
    object-fit: cover; 
}


#projects>h2{
    margin:3rem;
}
.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width:600px) {
    /* .skills > img{
        height: 20px;
    } */
    #home {
        flex-direction: column;
    }
    #home p{
        width:60vw;
    }
}
/* @media only screen and (max-width:700px) {
    .skills > img{
        height: 20px;
    }
} */